{% extends "base.html" %} {% block content %}
<form action="" method="post" novalidate enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.photo.label }}<br />
    {{ form.photo() }}<br />
    {% for error in form.photo.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}<br />
    {{ form.description(size=32) }}<br />
    {% for error in form.description.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
